<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Header template</title>
    </head>
    <body>

        <header th:fragment="header">
            <ul>
               <div sec:authorize="hasAuthority('USER')"><li><a th:href="@{/}">Index</a></li></div>
               <div sec:authorize="hasAuthority('USER')"><li><a th:href="@{/users}">Users</a></li></div>
               <div sec:authorize="hasAuthority('USER')"><li><a th:href="@{/pets}">Pets</a></li></div>
               <div sec:authorize="hasAuthority('USER')"><li><a th:href="@{/inventory}">Inventory</a></li></div>
               <div sec:authorize="hasAuthority('ADMIN')"><li><a th:href="@{/petSpecies}">Pet species</a></li></div>
               <div sec:authorize="hasAuthority('USER')"><li><form method="post" action="#" th:action="@{/logout}"><input type="submit" name="logout" value="Logout"/></form></li></div>
          </ul>
        </header>

    </body>
</html>
