<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Petsite</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <header th:replace="fragments/header :: header">
            <p>header with links etc</p>
        </header>
        
        <h2><span th:text="${pet.name}">name</span></h2>

        <h3><span th:text="${pet.petSpecies.name}">pet species</span></h3>
<!--        
        Liked items:
        <ul>
            <li th:each="item : ${pet.likedItems}">
                <span th:text="${item.name}">liked item</span>
            </li>
        </ul>
        
        Disliked items:
        <ul>
            <li th:each="item : ${pet.dislikedItems}">
                <span th:text="${item.name}">disliked item</span>
            </li>
        </ul>
-->        
        <h4><span th:text="${message}">message</span></h4>
        
        
        <h4>Happiness: <span th:text="${pet.happiness}">happiness</span></h4>
        <form th:action="@{/feedpet/{id}(id=${pet.id})}" th:method="POST">
            <select name="itemId">
                <option th:each="item : ${items}" th:value="${item.id}" th:text="${item.item.name}"></option>
            </select>
            <input type="submit" value="Feed"/>
        </form>

        <form th:action="@{/pets/{id}(id=${pet.id})}" th:method="DELETE"><input type="submit" value="Delete pet"/></form>
    </body>
</html>
