<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Petsite</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <header th:replace="fragments/header :: header">
            <p>header with links etc</p>
        </header>
        
        <h2>All pets</h2>

        <ul>
            <li th:each="pet : ${pets}">
                <span th:text="${pet.name}">name</span> (<span th:text="${pet.petSpecies.name}">species</span>, owner: <span th:text="${pet.user.username}">owner</span>)
            </li>
        </ul>
        
        <div>
            Create a pet:<br/>
            <form th:action="@{/pets}" method="POST">
                Name: <input type="text" name="name" id="name"/><br/>
                Species: 
                <select name="petSpeciesId">
                    <option th:each="petSpecies : ${allPetSpecies}" th:value="${petSpecies.id}" th:text="${petSpecies.name}"></option>
                </select>
                <input type="submit"/>            
            </form>
        </div>
        
    </body>
</html>
