<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Petsite</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <header th:replace="fragments/header :: header">
            <p>header with links etc</p>
        </header>
        
        <h2>All pet species</h2>

        <ul>
            <li th:each="petSpecies : ${allPetSpecies}">
                <span th:text="${petSpecies.name}">name</span> 
            </li>
        </ul>
        
        <div>
            Add a pet species:<br/>
            <form th:action="@{/petSpecies}" method="POST" enctype="multipart/form-data">
                Name: <input type="text" name="name" id="name"/><br/>
                <label for="metadata">Image metadata</label><input type="text" name="metadata" id="metadata"/><br/>
                <label for="file">File</label><input type="file" name="file" id="file"/><br/>
                <input type="submit"/>            
            </form>
        </div>
        
    </body>
</html>
