<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Petsite</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <header th:replace="fragments/header :: header">
            <p>header with links etc</p>
        </header>
        
        <h2>All pet species</h2>

        
        <th:block th:each="petSpecies : ${allPetSpecies}">
            <tr>
                <td><span th:text="${petSpecies.name}">name</span></td> 
                <td>
                    <img th:if="${petSpecies.imageN != null}" th:src="@{/images/qr/{id}(id=${petSpecies.imageN.original.id})}"/>
                    <br><span th:if="${petSpecies.imageN != null}" th:text="${petSpecies.imageN.original.id}">text</span></br>
                </td>
                <td>
                    <img th:if="${petSpecies.imageA != null}" th:src="@{/images/qr/{id}(id=${petSpecies.imageA.original.id})}"/>
                    <br><span th:if="${petSpecies.imageA != null}" th:text="${petSpecies.imageA.original.id}">text</span></br>
                </td>
                <td>
                    <img th:if="${petSpecies.imageH != null}" th:src="@{/images/qr/{id}(id=${petSpecies.imageH.original.id})}"/>
                    <br><span th:if="${petSpecies.imageH != null}" th:text="${petSpecies.imageH.original.id}">text</span></br>
                </td>
            </tr>
        </th:block>
    
        <div>
            Add a pet species:<br/>
            <form th:action="@{/petSpecies}" method="POST" enctype="multipart/form-data">
                Name: <input type="text" name="name" id="name"/><br/>
                <label for="neutralImage">Neutral image: </label><input type="file" name="neutralImage" id="neutralImage"/><br/>
                <label for="angryImage">Angry image: </label><input type="file" name="angryImage" id="angryImage"/><br/>
                <label for="happyImage">Happy image: </label><input type="file" name="happyImage" id="happyImage"/><br/>
                <input type="submit"/>            
            </form>
        </div>
        
    </body>
</html>
